{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-Mail Service Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
    <style>
        #meter_detail_div{
            height: 100vh; 
            padding-top: 0px; 
            position: fixed; 
            bottom: 0px; 
            right: 0px; 
            z-index: 1100;  
            border: 0; 
            text-decoration: none;  
            box-shadow: 0px 3px 5px 0px rgba(102, 102, 102, 0.5); margin-right:0px;
            transition: opacity 0.4s ease-out;
            background-color:#f8f8f8;
        }
        .black_overlay{
            display: none;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.7;
            opacity:.3;
            filter: alpha(opacity=50);
            font-family: 'Lato', sans-serif
        }
        .dt-buttons{
            z-index: 1000; 
        }
        .dropdown-menu{
            z-index: 10000;
        }
        #snackbar {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 10002;
            left: 50%;
            bottom: 30px;
            font-size: 17px;
        }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        @-webkit-keyframes fadein {
            from {bottom: 0; opacity: 0;} 
            to {bottom: 30px; opacity: 1;}
        }

        @keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
        }

        @-webkit-keyframes fadeout {
            from {bottom: 30px; opacity: 1;} 
            to {bottom: 0; opacity: 0;}
        }

        @keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
        }
        #example_filter{
            position: absolute;
            right: 15px;
            top: 0px;
        }
        #example_paginate{
            position: absolute;
            bottom: -10px;
            right: 15px;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<div id='my_body' style='display:none;'> 
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">EMAIL SERVICE</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id='user_badge'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>             
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <div class="container" style='margin-top:60px;'>
        <div class='col-md-12'>
            <div class="form-group" style='padding-top:25px;'>        
                <button type="submit" class="btn btn-success" onclick="$('#meter_detail_div').show();document.getElementById('fade').style.display='block';"><span class="glyphicon glyphicon-pencil"></span> Compose New Email</button>
            </div>
        </div>
        <div id="snackbar">Some text some message..</div>
        <div class='col-md-12' style='margin-top:10px;'>
                <table id="example" class="display table table-bordered" width="100%"></table>
        </div>
    </div>
</div>
<div id="fade" class="black_overlay"></div>
<div class="col-sm-9 w3-animate-right" id='meter_detail_div' style="display:none;padding:0px; padding-left:40px;">
    <div style='border-bottom: solid 1px #f1f3f4; padding: 15px; padding-left: 20px; padding-right:20px;'>
        <div>
            <div class="panel-title" style='text-align:left;color: gray;line-height: 15px;'><small>Compose New E-Mail</small></div>
            <div class="panel-title" style='text-align:left;line-height: 15px;' id='lbl_meter_detail_header'>Write your own...</div>
        </div>
        <div style="float:right; font-size: 85%; position: relative; top:-30px; font-size:18px;">
            <a id="signinlink" href="#" onclick="javascript: document.getElementById('meter_detail_div').style.display = 'none'; document.getElementById('fade').style.display='none'; " style="padding: 5px; color:gray;" title="Close"> <svg class="Kk7lMc-ae3xF-tJHJj-OAU7Vd-Bz112c" width="24px" height="24px" viewBox="0 0 24 24" fill="#000000" focusable="false"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg> </a>
        </div>
    </div> 
    <div class='col-md-12' style='display:none;'>
        <div class="form-group">
            <label class="control-label" for="email">FROM:</label>
            <input type="text" class="form-control" id="mail_from" placeholder="From E-Mail Id" readonly='true' name="number" value="">
        </div>
    </div>
    <div class='col-md-10'>
        <div class="form-group">
            <label class="control-label" for="email">TO:</label>
            <input type="text" class="form-control" id="mail_to" placeholder="Enter Comma Seprated E-Mail Id"  name="number">
        </div> 
    </div> 
    <div class='col-md-2'>
        <div style='padding-top:12px;'></div>
        <a href="#" class="btn btn-default" title="Upload E-Mail From CSV" data-toggle="popover" data-placement="left" data-trigger="click" data-html="true" data-content="<div>
              <input type='file' class='custom-file-input' id='customFile' name='filename' ><br><button type='submit' class='btn btn-default' onclick='Upload();'>Submit</button>
              </div>"><span class="glyphicon glyphicon-plus"></span>Upload CSV</a>
       
    </div>
    <div class='col-md-6'>      
        <div class="form-group">
            <label class="control-label" for="email">CC:</label>
            <input type="text" class="form-control" id="mail_cc" placeholder="Enter CC E-Mail Id"  name="number">
        </div>
    </div>
    <div class='col-md-6'>
        <div class="form-group">
            <label class="control-label" for="email">BCC:</label>
            <input type="text" class="form-control" id="mail_bcc" placeholder="Enter BCC E-Mail Id"  name="number">
        </div>
    </div>
    <div class='col-md-12'>
        <div class="form-group">
            <label class="control-label" for="email">SUBJECT:</label>
            <input type="text" class="form-control" id="subject" placeholder="Enter Subject of E-Mail" maxlength="90"  name="number">
        </div>
    </div>
    <div class='col-md-12'>
        <div class="form-group">
            <label class="control-label" for="email">MESSAGE:</label>
            <textarea type="text" rows='10' class="form-control" maxlength="1000" id="message" placeholder="Enter Your E-Mail Message"  name="number"></textarea>
        </div>
    </div>
    <div class='col-md-12'>
        <div class="form-group">        
            <button type="submit" class="btn btn-default" id='btn_send_mail' onclick="send_mail();">SEND</button>
            <button id='btn_clr_mail' type="submit" class="btn btn-default" onclick="clear_tb();">CLEAR</button>
        </div>
    </div>
</div>
</body>

<script>
var dataSet = [
    [ "Tiger Nixon", "System Architect", "Edinburgh", "5421", "2011/04/25", "$320,800","Tiger Nixon", "System Architect" ],
    [ "Garrett Winters", "Accountant", "Tokyo", "8422", "2011/07/25", "$170,750","Tiger Nixon", "System Architect"  ],
    [ "Ashton Cox", "Junior Technical Author", "San Francisco", "1562", "2009/01/12", "$86,000","Tiger Nixon", "System Architect" ],
];
 
 var user = 'Na'
 var table = 'Na';
$(document).ready(function() {
    document.getElementById('my_body').style.display='block';
    table = $('#example').DataTable( {
        responsive: true,
        data:dataSet,
        stateSave: true,
        scroller: true,
        columns: [
            { title: "FROM", "visible": false, },
            { title: "TO" },
            { title: "CC", "visible": false, },
            { title: "BCC", "visible": false, },
            { title: "SUB" },
            { title: "MESSAGE", "visible": false, },
            { title: "DATE" },
            { title: "STATUS"},
        ],
        lengthChange: true,
        dom: '<Blf><t><ip>',
        buttons: [
            'csv', 'excel','colvis'
        ],

    } );

    table.buttons().container()
        .appendTo( '#example_wrapper .col-sm-6:eq(0)' );
    get_report(); 

    $('[data-toggle="popover"]').popover();   

} );

function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}

function get_report() {
    $.ajax({
        url: 'email_history',
        type: 'get',
        data: {"user":user},
        success: function (data) {
            dataSet = data['projects'];
            $('#example').DataTable().clear().destroy();
            table = $('#example').DataTable( {
                data:dataSet,
                stateSave: true,
                scroller: true,
                columns: [
                    { title: "FROM", "visible": false, },
                    { title: "TO" },
                    { title: "CC", "visible": false, },
                    { title: "BCC", "visible": false, },
                    { title: "SUB" },
                    { title: "MESSAGE", "visible": false, },
                    { title: "DATE" },
                    { title: "STATUS"},
                ],
                lengthChange: true,
                dom: '<Blf><t><ip>',
                buttons: [
                    'csv', 'excel','colvis'
                ],

            } );

        },
        failure: function () {
            alert('Got an error dude');
        }
    });
}

//Function to validate a E-Mail ID
function validateEmail(email) {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}

function send_mail() {
    var x = document.getElementById("snackbar");
    var mail_to = document.getElementById('mail_to').value;
    var mail_from = document.getElementById('mail_from').value;
    var mail_cc = document.getElementById('mail_cc').value;
    var mail_bcc = document.getElementById('mail_bcc').value;
    var subject = document.getElementById('subject').value;
    var message = document.getElementById('message').value;

    //Validate Input Field Mandetory
    if(mail_to=='' || subject==''){
        x.className = "show";
        x.innerHTML = " Invalid Values";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        return false;
    }

    //Validate TO E-Mail Id's
    mail_to_list = mail_to.split(',');
    for(var i=0; i<mail_to_list.length; i++){
        if(! validateEmail(mail_to_list[i])){
            x.className = "show";
            x.innerHTML = "Invalid E-Mail ID";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
            return false;
        }
    }

    //Validate CC Email ID's 
    if(mail_cc != ''){
        mail_cc_list = mail_cc.split(',');
        for(var i=0; i<mail_cc_list.length; i++){
            if(! validateEmail(mail_cc_list[i])){
                x.className = "show";
                x.innerHTML = "Invalid CC E-Mail ID";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                return false;
            }
        }
    }

    //Validate BCC Email ID's
    if(mail_bcc != ''){
        mail_bcc_list = mail_bcc.split(',');
        for(var i=0; i<mail_bcc_list.length; i++){
            if(! validateEmail(mail_bcc_list[i])){
                x.className = "show";
                x.innerHTML = "Invalid BCC E-Mail ID";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                return false;
            }
        }
    }

    dict ={ "mail_to":mail_to,"mail_from":mail_from,"mail_cc":mail_cc, 
         "mail_bcc":mail_bcc, "subject":subject, "message":message}
    $.ajax({
        url: 'compose_email',
        type: 'post',
        data: dict,
        beforeSend: function() {
            document.getElementById('btn_clr_mail').disable = true;
            document.getElementById('btn_send_mail').disable = true;
            x.className = "show";
            x.innerHTML = "Sending Your E-Mail...";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        },
        complete: function(){
            document.getElementById('btn_clr_mail').disable = false;
            document.getElementById('btn_send_mail').disable = false;
        },
        success: function (data) {
            if(data['status']==1){
                x.className = "show";
                x.innerHTML = 'Mail Sent';
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                get_report();
                document.getElementById('mail_to').value = '';
                document.getElementById('mail_cc').value = '';
                document.getElementById('mail_bcc').value = '';
                document.getElementById('subject').value = '';
                document.getElementById('message').value = '';
                document.getElementById('meter_detail_div').style.display = 'none'; 
                document.getElementById('fade').style.display='none';
            }
            else{
                x.className = "show";
                x.innerHTML = 'Opps....Mail Failed';
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
            }
        },
        failure: function () {
            alert('Got an error dude');
        }
    });
}

function Upload() {
  var fileUpload = document.getElementById("customFile");
  var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
  if (regex.test(fileUpload.value.toLowerCase())) {
    if (typeof(FileReader) != "undefined") {
      var reader = new FileReader();
      reader.onload = function(e) {
        var table = document.createElement("table");
        var rows = e.target.result.split("\n");
        to_list = [];
        cc_list = [];
        bcc_list = [];
        for (var i = 1; i < rows.length; i++) {
          var cells = rows[i].split(",");
          to_list.push(cells[0]);
          if(cells[1]!='') cc_list.push(cells[1]);
          if(cells[2]!='') bcc_list.push(cells[2]);
        }
        document.getElementById('mail_to').value = to_list.toString();
        document.getElementById('mail_cc').value = cc_list.toString();
        document.getElementById('mail_bcc').value = cc_list.toString();
        $('[data-toggle="popover"]').popover("hide")
      }
      reader.readAsText(fileUpload.files[0]);
    } else {
      alert("This browser does not support HTML5.");
    }
  } else {
    alert("Please upload a valid CSV file.");
  }
}


function limitText(limitField, limitNum) {
    if (limitField.value.length > limitNum) {
        limitField.value = limitField.value.substring(0, limitNum);
    }
}

function clear_tb(){
    document.getElementById('mail_to').value = '';
    document.getElementById('mail_cc').value = '';
    document.getElementById('mail_bcc').value = '';
    document.getElementById('subject').value = '';
    document.getElementById('message').value = '';
}
</script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>



</html>
